<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="MySessionFactory">
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.password">mitocode</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/mitocode</property>
        <property name="hibernate.connection.username">mitocode</property>
        <property name="hibernate.default_schema">mitocode</property>
        <property name="hibernate.dialect">org.hibernate.dialect.</property>
        <mapping resource="com/mitocode/jsf/hbm/User.hbm.xml"/>
        <mapping resource="com/mitocode/jsf/hbm/Student.hbm.xml"/>
        <mapping resource="com/mitocode/jsf/hbm/Employee.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
